html {
    scroll-behavior: smooth;
  }  
  
  body {
    font-family: Inter, sans-serif;
    color: #333;
    font-size: 18px;
    line-height: 20px;
    width: 100%; 
    margin: 0px;

  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #E79390;
    font-size: 80px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #7385C3;
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #191b22;
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
  }
  
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #191b22;
    font-size: 28px;
    line-height: 1.1;
    font-weight: 700;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #08090a;
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  
  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #08090a;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  
  p {
    margin-bottom: 10px;
    color: #546285;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
  
  li {
    color: #546285;
    font-size: 18px;
  }

  .ranking {
    color:#546285;
  }
  
  .banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 48px;
    padding: 5px 3%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #7385C3;
    background-position: 0% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    color: #E79390;
    font-size: 15px;
  }
  
  .banner-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1000px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .thanks {
    text-align: center;
  }

  .imgContent {
    width: 150px;
  }
  
  .nav-link {
    padding-right: 16px;
    padding-left: 16px;
    opacity: 0.8;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    color: #7385C3;
    font-size: 20px;
    text-transform: none;
  }
  
  .nav-link:hover {
    opacity: 1;
    color: #E79390;
  }
  
  .nav-link.w--current {
    color:#7385C3;
  }
  
  .navigation-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .brand {
    margin-right: 40px;
  }
  
  .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 3%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #E79390;
  }
  
  .navigation-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .navigation-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .nav-menu {
    margin-right: 14px;
  }
  
  .hero-paragraph {
    color: #546285;
    font-size: 20px;
    line-height: 1.34;
    font-weight: 400;
  }
  
  .header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding: 100px 3% 140px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .hero-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    padding-right: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .button {
    border-radius: 6px; 
    background-color: #7385C3;
    color: white;
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: background-color 250ms ease; 
    transition: background-color 250ms ease;
  }
  
  .button:hover {
    background-color: #E79390;
  }
  
  .button.button-space {
    margin-top: 40px;
  }
  
  .container-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-image-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    object-fit: cover;
  }
  
  .hero-h1 {
    /* max-width: 580px; */
    margin-bottom: 20px;
    color: #E79390;
    font-size: 70px;
    line-height: 1;
    letter-spacing: -0.03em;
  }
  
  .button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 45px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .footer-logo {
    margin-bottom: 25px;
  }
  
  .footer-link {
    margin-bottom: 12px;
    padding-top: 8px;
    padding-right: 6px;
    padding-bottom: 8px;
    color: #546285;
    font-size: 16px;
    text-decoration: none;
  }
  
  .footer-link:hover {
    color: #28224b;
  }
  
  .container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .container.flex-vertical {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  
  .legal {
    color: #353448;
  }
  
  .webflow-link {
    color: #7385C3;
  }
  
  .footer-grid {
    -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .title {
    margin-bottom: 20px;
    color: #08090a;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  
  .footer {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding: 100px 3% 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5fbfc;
    /* background-image: url('../images/Pattern-Footer.svg'); */
    background-position: 0% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    text-decoration: none;
  }
  
  .footer-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .brand-span {
    color: #7385C3;
  }
  
  .review-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    white-space: nowrap;
  }
  
  .review-logo {
    margin-right: 16px;
    margin-bottom: 10px;
  }
  
  .review-text {
    color: #08090a;
    font-size: 16px;
  }
  
  .content-section {
    position: relative;
    padding: 120px 3%;
    background-color: transparent;
  }
  
  .content-grid {
    grid-column-gap: 44px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .content-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .image-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .title-wrap-centre {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 670px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  
  .works-grid {
    grid-column-gap: 0px;
    -ms-grid-columns: 1fr 0.3fr 1fr 0.3fr 1fr;
    grid-template-columns: 1fr 0.3fr 1fr 0.3fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .content-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  
  .step-image {
    margin-bottom: 40px;
  }

  .food-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 200px;
    padding: 25px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(53, 184, 190, 0.15);
    border-radius: 6px;
    background-color: #E79390;
    -webkit-transition: border-color 300ms ease;
    transition: border-color 300ms ease;
  }
  
  .food-card:hover {
    border-color: rgba(53, 184, 190, 0.5);
  }
  
  .food-image-square {
    overflow: hidden;
    max-height: 120px;
    max-width: 120px;
    min-height: 120px;
    min-width: 120px;
    margin-right: 30px;
    border-radius: 8px;
  }
  
  .food-image-square-checkout {
    overflow: hidden;
    /* max-height: 120px; */
    /* max-width: 120px; */
    min-height: 120px;
    min-width: 120px;
    margin-right: 30px;
    border-radius: 8px;
  }
  
  .food-image {
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .food-title-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 4px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
  }
  
  .price {
    color: #7385C3;
    font-size: 16px;
    font-weight: 400;
  }
  
  .food-card-content {
    width: 100%;
  }
  
  .menu-item {
    margin-bottom: 20px;
  }
  
  .cta-grid {
    /* min-height: 640px; */
    grid-column-gap: 22px;
    grid-row-gap: 22px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .cta-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #7385C3;
    background-position: 0px 0px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .cta-section {
    padding: 3%;
    background-color: transparent;
  }
  
  .white-span {
    color: white;
  }
  
  .default-state {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .quantity {
    width: 60px;
    height: 45px;
    margin-right: 8px;
    margin-bottom: 0px;
    border-radius: 6px;
  }
  
  .footer-legal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
    padding-top: 60px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid rgba(126, 130, 143, 0.09);
    font-size: 15px;
  }
  
  .footer-detail-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    min-height: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .footer-detail-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    min-height: 40px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .social-icon-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .social-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 12px;
    margin-left: 12px;
    padding: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(126, 130, 143, 0.3);
    border-radius: 100px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  
  .social-link:hover {
    border-color: rgba(126, 130, 143, 0.86);
  }
  
  .social-icon {
    width: 18px;
  }
  
  .utility-page-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .utility-page-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 260px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  
  .utility-page-wrap-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    padding-right: 3%;
    padding-left: 3%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #E79390;
  }
  
  .utility-image {
    margin-bottom: 30px;
  }
  
  .utility-paragraph {
    color: #7e828f;
    text-align: center;
  }
  
  .link {
    color: #7385C3;
  }
  
  .utility-page-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  
  .input-field {
    height: 50px;
  }
  
  .field-label {
    font-size: 15px;
  }
  
  .checkout-form {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f5fbfc;
  }
  
  .container-order {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .order-detail {
    position: -webkit-sticky;
    position: sticky;
    top: 35px;
  }
  
  .apple-pay-button {
    height: 55px;
  }
  
  .order-confirmation {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f5fbfc;
  }
  
  .text-block-81 {
    color: #7385C3;
  }
  
  .required {
    color: #7385C3;
  }

  
  .title-wrap-left {
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  
  .header-h4 {
    color: #232936;
    font-size: 30px;
  }
  
  .title-grey {
    color: #758ca5;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .legal-text {
    margin-top: 25px;
    text-align: left;
  }
  
  .licence-grid {
    margin-bottom: 100px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .licence-image {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    -o-object-fit: contain;
    object-fit: contain;
  }
  
  .line-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 140px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .line {
    width: 100%;
    height: 1px;
    border-style: dashed none none;
    border-width: 1.3px;
    border-color: #d1cdcd;
  }
  
  .empty-state {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .header-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 420px;
    padding: 100px 3%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5fbfc;
  }
  
  .product-grid {
    grid-column-gap: 44px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .plain-line {
    width: 100%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(53, 184, 190, 0.25);
  }
  
  .product-image {
    width: 100%;
    border-radius: 15px;
  }
  
  .colour-grid {
    margin-bottom: 100px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .colour {
    display: block;
    overflow: hidden;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    background-color: #E79390;
    box-shadow: 6px 6px 17px 0 rgba(82, 76, 76, 0.06);
  }
  
  .colour-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    padding-left: 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .colour-block {
    height: 120px;
    background-color: #7385C3;
  }
  
  .colour-block.c8 {
    background-color: #191b22;
  }
  
  .colour-block.c9 {
    background-color: #546285;
  }
  
  .colour-block.c3 {
    background-color: #7385C3;
  }
  
  .colour-block.c2 {
    background-color: #f5fbfc;
  }
  
  .style-guide-section {
    padding: 100px 3%;
  }
  
  .colour-hex {
    margin-top: 4px;
    color: #9b9eb8;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .colour-title {
    float: left;
    color: #4e5d78;
    font-size: 16px;
    font-weight: 700;
  }
  
  .block {
    margin-bottom: 45px;
  }
  
  .highlight-default {
    background-color: rgba(255, 171, 0, 0.23);
  }
  
  .block-detail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
    padding-bottom: 25px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  }
  
  .p1 {
    max-width: 600px;
    color: #546285;
    font-size: 18px;
    font-weight: 400;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .size-detail {
    margin-left: 8px;
    color: #7385C3;
  }
  
  .strikethrough {
    text-decoration: line-through;
  }
  
  .change-log-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  
  .title-large {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.4;
  }
  
  .new-tag {
    margin-left: 4px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #7385C3;
    color: #E79390;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .list {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .order-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 45px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #7385C3;
  }
  
  .button-arrow-wrap {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  
  .arrow-drawn {
    position: relative;
    left: 40px;
  }
  
  .cursive-text {
    position: absolute;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    width: 100%;
    max-width: 500px;
  }
  
  .price-text {
    margin-top: 20px;
    color: #7385C3;
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.03em;
  }
  
  .full-details {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .content-section-short {
    position: relative;
    padding: 60px 3%;
    background-color: transparent;
  }
  
  .out-of-stock-state {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 45px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #7385C3;
    color: #E79390;
    text-align: center;
  }
  
  .pattern {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
  }
  
  .pagination-button {
    min-height: 60px;
    padding: 20px 35px;
    border-style: none;
    border-radius: 4px;
    background-color: #7385C3;
    background-image: url('../images/Button-Wave.svg');
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
    color: #E79390;
    font-size: 18px;
    text-align: center;
  }
  
  .pagination {
    margin-top: 40px;
  }
  
  .plus {
    opacity: 0.5;
  }
  
  .dropdown {
    height: 50px;
  }
  
  .tab-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .additional-details {
    max-width: 800px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    text-align: center;
  }
  
  .cta-full-image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 500px;
    padding: 100px 3%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, 0.67), rgba(25, 26, 27, 0.19)), url('../images/Group-Photo.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
  }
  
  .grid-3 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .statistic {
    margin-bottom: 0px;
    color: #E79390;
    font-size: 5em;
  }
  
  .statistic-block {
    color: #E79390;
    text-align: center;
  }
  
  .text-block-82 {
    font-size: 20px;
  }
  
  .wave {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .white-link {
    color: #E79390;
    text-decoration: none;
  }
  
  .notice-text {
    color: white;
  }
  
  .order-column {
    position: relative;
    top: 0px;
  }
  
  .heading {
    color: #7385C3;
  }
  
  @media screen and (max-width: 991px) {
    .nav-link {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  
    .icon {
      display: block;
    }
  
    .navbar {
      z-index: 5;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      /* width: 100%; */
      background-color: transparent;
    }
  
    .navigation-right {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
  
    .menu-button {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      min-height: 55px;
      min-width: 55px;
      margin-right: 0px;
      margin-left: 14px;
      padding: 16px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 4px;
      background-color: rgba(126, 130, 143, 0.1);
    }
  
    .menu-button.w--open {
      background-color: #7385C3;
    }
  
    .nav-menu {
      margin-right: 0px;
      background-color: #E79390;
      box-shadow: 0 50px 80px -30px rgba(53, 52, 72, 0.2);
    }
  
    .header {
      padding-top: 140px;
      padding-bottom: 100px;
    }
  
    .hero-content {
      width: 100%;
      max-width: 800px;
      margin-bottom: 40px;
      padding-left: 40px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
    }
  
    .container-flex {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  
    .hero-image-wrap {
      width: 100%;
      margin-top: 60px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      overflow: hidden;
    }
  
    .button-wrapper {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  
    .footer-grid {
      grid-column-gap: 24px;
      grid-row-gap: 50px;
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  
    .review-wrap {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  
    .content-section {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  
    .content-grid {
      grid-row-gap: 80px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
    }
  
    .content-block {
      max-width: 500px;
      margin-right: auto;
      margin-left: auto;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
    }
  
    .works-grid {
      max-width: 510px;
      margin-right: auto;
      margin-left: auto;
      grid-row-gap: 32px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
    }
  
    .content-wrapper {
      padding-right: 40px;
      padding-left: 40px;
    }
  
    .menu-item {
      width: 100%;
    }
  
    .cta-grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
    }
/*   
    .cta-image {
      min-height: 420px;
    } */
  
    .cta-content {
      min-height: 420px;
      padding-right: 25px;
      padding-left: 25px;
    }
  
    .tab-link-round {
      margin-bottom: 10px;
    }
  
    .content-section-bg {
      padding-top: 100px;
      padding-bottom: 100px;
      background-color: #f5fbfc;
      background-image: none;
      background-size: auto;
      background-repeat: repeat;
    }
  
    .cta-heading {
      font-size: 55px;
    }
  
    .title-wrap-left {
      text-align: left;
    }
  
    .licence-grid {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  
    .line-column {
      padding-bottom: 0px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  
    .line {
      width: 1px;
      height: 100%;
      min-height: 100px;
      border-style: none dashed none none;
    }
  
    .colour-grid {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  
    .content-section-short {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .header {
      padding-bottom: 60px;
    }
  
    .hero-content {
      padding-right: 0px;
      padding-left: 0px;
    }
  
    .button-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  
    .footer-grid {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
    }
  
    .food-card {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  
    .food-image-square {
      max-height: none;
      max-width: none;
      margin-right: 0px;
      margin-bottom: 20px;
    }
  
    .food-title-wrap {
      margin-bottom: 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
  
    .menu-item {
      width: 50%;
    }
  
    .tab-link-round {
      width: 40%;
      text-align: center;
      white-space: nowrap;
    }
  
    .container-order {
      -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
    }
  
    .order-detail {
      position: relative;
      top: 0px;
    }
  
    .product-grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
    }
  
    .colour {
      margin-bottom: 25px;
    }
  
    .send-email {
      margin-top: 20px;
    }
  
    .grid-3 {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
    }
  
    .order-column {
      width: 100%;
    }
  
    .order-collection {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  
    .style-guide-h1 {
      font-size: 44px;
    }
  
    .order-full {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 479px) {
    h2 {
      font-size: 48px;
    }
  
    .banner {
      display: none;
    }
  
    .navbar {
      position: absolute;
      background-color: hsla(0, 0%, 100%, 0);
    }
  
    .header {
      padding-top: 115px;
    }
  
    .button {
      width: 100%;
      max-width: 250px;
    }
  
    .legal {
      margin-right: 0px;
    }
  
    .footer-grid {
      -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
    }
  
    .review-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  
    .review-logo {
      margin-bottom: 12px;
    }
  
    .content-section {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  
    .food-card {
      padding: 16px;
    }
  
    .menu-item {
      width: 100%;
    }
  
    .cta-content {
      padding: 12px;
    }
  
    .tab-link-round {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      text-align: center;
    }
  
    .question-title {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  
    .footer-legal {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
    }
  
    .footer-detail-left {
      width: auto;
    }
  
    .checkout-form {
      padding-top: 140px;
      padding-bottom: 140px;
    }
  
    .order-confirmation {
      padding-top: 140px;
      padding-bottom: 140px;
    }
  
    .required {
      font-size: 13px;
    }
  
    .button-white {
      width: 100%;
      max-width: 250px;
    }
  
    .cta-heading {
      font-size: 43px;
    }
  
    .cart-icon {
      margin-right: 0px;
    }
  
    .paypal-checkout-form {
      padding-top: 140px;
      padding-bottom: 140px;
    }
  
    .header-section {
      min-height: 500px;
      padding-top: 140px;
    }
  
    .header-h1 {
      font-size: 50px;
    }
  
    .pagination-button {
      width: 100%;
      max-width: 250px;
    }
  
    .grid-3 {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
    }
  
    .order-item {
      width: 50%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
  
    .div-block {
      margin-left: 0px;
    }
  
    .order-image {
      width: 140px;
      margin-bottom: 10px;
    }
  
    .block-header {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
  
  #w-node-a159dcc6da5a-dcc6da57 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
  
  #w-node-a159dcc6da5e-dcc6da57 {
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
  
  #w-node-a159dcc6da69-dcc6da57 {
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
  
  #w-node-a159dcc6da72-dcc6da57 {
    -ms-grid-column-span: 1;
    grid-column-end: 6;
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
  
  #w-node-e389235f3c63-8cc58ead {
    -ms-grid-column-align: start;
    justify-self: start;
  }
  
  #w-node-e389235f3c65-8cc58ead {
    -ms-grid-column-align: start;
    justify-self: start;
  }
  
  #w-node-e389235f3c67-8cc58ead {
    -ms-grid-column-align: start;
    justify-self: start;
  }
  
  @media screen and (max-width: 991px) {
    #w-node-a159dcc6da5a-dcc6da57 {
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
      -ms-grid-column: span 2;
      grid-column-start: span 2;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
    }
  
    #w-node-a159dcc6da72-dcc6da57 {
      -ms-grid-column-span: 1;
      grid-column-end: 6;
      -ms-grid-column: 5;
      grid-column-start: 5;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
      -ms-grid-row: 1;
      grid-row-start: 1;
    }
  }
  
  @media screen and (max-width: 767px) {
    #w-node-a159dcc6da5a-dcc6da57 {
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
      -ms-grid-column: span 3;
      grid-column-start: span 3;
      -ms-grid-column-span: 3;
      grid-column-end: span 3;
    }
  
    #w-node-a159dcc6da5e-dcc6da57 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 1;
      grid-column-end: 2;
      -ms-grid-row: 2;
      grid-row-start: 2;
      -ms-grid-row-span: 1;
      grid-row-end: 3;
    }
  
    #w-node-a159dcc6da69-dcc6da57 {
      -ms-grid-column: 2;
      grid-column-start: 2;
      -ms-grid-column-span: 1;
      grid-column-end: 3;
      -ms-grid-row: 2;
      grid-row-start: 2;
      -ms-grid-row-span: 1;
      grid-row-end: 3;
    }
  
    #w-node-a159dcc6da72-dcc6da57 {
      -ms-grid-column: 3;
      grid-column-start: 3;
      -ms-grid-column-span: 1;
      grid-column-end: 4;
      -ms-grid-row: 2;
      grid-row-start: 2;
      -ms-grid-row-span: 1;
      grid-row-end: 3;
    }
  }
  
  @media screen and (max-width: 479px) {
    #w-node-a159dcc6da5a-dcc6da57 {
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
      -ms-grid-column: span 3;
      grid-column-start: span 3;
      -ms-grid-column-span: 3;
      grid-column-end: span 3;
    }
  
    #w-node-a159dcc6da5e-dcc6da57 {
      -ms-grid-column-span: 3;
      grid-column-end: 4;
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 3;
      -ms-grid-row: 2;
      grid-row-start: 2;
    }
  
    #w-node-a159dcc6da69-dcc6da57 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 3;
      grid-column-end: 4;
      -ms-grid-row: 3;
      grid-row-start: 3;
      -ms-grid-row-span: 1;
      grid-row-end: 4;
    }
  
    #w-node-a159dcc6da72-dcc6da57 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 3;
      grid-column-end: 4;
      -ms-grid-row: 4;
      grid-row-start: 4;
      -ms-grid-row-span: 1;
      grid-row-end: 5;
    }
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
  }
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: auto;
  }
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
  }
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: auto;
  }

  /* Nav button */
  .topnav {
    overflow: hidden;
    background-color: #7385C3;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: #E79390;
  }

  /* Search CSS */

  .results {
    padding-left: 10%;
  }

  .Btns {
    display: block;
    border-radius: 25px;
    padding: 10px;
    border-style: none;
    transition: all ease .4s;
    width: 50%;
    margin: 10px 0;
    border: 2px solid  #E79390;
}
.Btns:hover {
    color: white;
    background:  #E79390;
    border: 2px solid  #E79390;
    border-radius: 25px;
    padding: 10px;
    border-style: none;
}
.fa:hover {
    color:  #E79390;
}

.backNext {
    display: inline;
    width: 40%;
}
.cookingIcon {
    /* min-width: 15%; */
    max-width: 10%;
    margin: 0 10px;
}

.ingredientList ul {
    padding-left: 5px;
}
.ingredientList ul li {
    float: left;
    margin: 0 10px;
    width: 30%;
    padding: 0 10px;
}

.hide {
    display: none;
}
img {
    max-width: 100%;
    height: auto;
}

/* .homeImg {
    max-width:600px
} */

.viewPort {
    width: 100%;
    padding: 20px 0;
}

.favorite {
    color: black;
    text-decoration: none;
    transition: all ease .4s;
}
.favorite:hover {
    text-decoration: none;
    color: orange;
}
.position-absolute {
    top: 20px;
    right: 20px;
}
.navbar-brand, .nav-item {
    color: #3b3b3b;
    transition: all ease .4s;
    font-size: 1.3rem;

}
.navbar-brand:hover, .nav-item:hover {
    color: orange;
}
.navbar-toggler-icon {
    color: black;
}
.recipeIngredient {
    margin: 50px 0;
}
.recipeSteps {
    height: 100vh;
    background-image: linear-gradient(45deg, #8fcfe3, #d6ffed);
    /* height: 85vh; */
    padding: 10px;
    border-radius: 5px;
    margin: 50px auto;
    filter: drop-shadow(1px 1px 5px rgb(138, 140, 141));
}
.card {
    filter: drop-shadow(1px 1px 5px rgb(138, 140, 141));
}


@media only screen and (max-width: 768px) {
    .ingredientList ul li {
        float: left;
        margin: 0 10px;
        width: 45%;
        padding: 0 10px;
    }
    #recipeTitle {
        font-size: 1.5rem;
    }

    .results {
        padding-left: 0;
    }

    .header {
        padding: 35px 3% 140px;
      }
  }

  
  @media only screen and (max-width: 517px) {
    .ingredientList ul li {
        float: none;
        margin: 0 10px;
        width: 100%;
        padding: 0 10px;
    }
    .urlInput {
        width: 100%;
    }

    .results {
        padding-left: 0;
    }

    .header {
        padding: 20px 3% 140px;
      }

    .homeImg {
        width: 90vp;
    }
    
    .button {
        width: 40px;
    }

    .card-body {
        padding: 0px;
    }

    .hero-h1 {
        font-size: 50px;
    }
  }

  /* Popup */
  .success {
    color: #7385C3;
    background-color:#E79390;
    border-color: #7385C3;
    display: none;
  }